@font-face {
  font-family: 'SpaceQuest';
  src: url("assets/fonts/SpaceQuest.ttf");
}

@font-face {
  font-family: 'SpaceQuest';
  font-style: italic;
  src: url("assets/fonts/SpaceQuest-Italic.ttf");
}

@font-face {
  font-family: 'Coven';
  src: url("assets/fonts/Coven.ttf");
}

@font-face {
  font-family: 'Robotika';
  src: url("assets/fonts/Robotika.ttf");
}

body {
  margin: 0;
  font-family: Robotika;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-animation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes text-animation {
  0% { left: 50%; }
  100% { left: 150%; }
}

@keyframes text-animation-2 {
  0% { left: -100%; }
  100% { left: 0%; }
}